html {
  margin: 0;
  font-size: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
    background-color: rgb(0, 0, 55);
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin: 0;
}

.login-div {
    padding-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    width: 350px;
    height: 400px;
    margin: auto;
    background-color: rgb(2, 175, 175);
}

.login-paragraph, .newBlogParagraph {
    margin: 0;
    padding: 10px;
    font-size: 2rem;
    text-align: center;
}

button {
    margin: 10px;
    font-family: "Gill Sans", "Gill Sans MT";
    font-size: 2.3rem;
    border-radius: 5px;
    border: 1px solid;
    width: auto;
    height: 30px;
    background-color: rgb(244, 184, 4);
}

#password, #username {
    width: 150px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.536);
    background-color: antiquewhite;
    text-align: center;
}

#title-input, #author-input, #url-input {
    width: 300px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.536);
    padding-left: 10px;
    padding-right: 10px;
}

.userInfo {
    font-size: 2rem;
    padding-right: 15px;
}

.blogTitle{
    text-align: center;
}


.createBlogTitle {
    font-size: 3rem;
    margin: 10px 0 0 0;
}

.centerButton {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100px;
    height: auto;
    padding-left: 50px;
}

@media only screen and (max-width: 600px) {
  .headerDiv {
    flex-direction: column;
    justify-content: center;
  }
  .logo {
    padding-left: 0;
  }
  .userInfo {
    padding-right: 0;
  }
}